
[env:base]
build_flags =
    -DWIFI_SSID=\"PJ1\"
    -DWIFI_PASS=\"qwerty1234\"
    -DMQTT_HOST=\"061ac8b3baec496cb994d41223b48ef5.s1.eu.hivemq.cloud\"
    -DMQTT_PORT=8883
    -DMQTT_USER=\"olawale_Aowlyf\"
    -DMQTT_PASS=\"Bf4mX@siw@GKKZr\"
    -DOTA_PASS=\"airsense_pro_26\"
